/* $main : #FF7581;
$pink-d : #D04465;
$pink : #f599a0;
$pink-l : #fad6d0;
$pink-ll : #F8E8E6;
$green : #56B7C4;
$green-l : #CBE2E4;
$ylw-l : #FEF8E5;
$ylw : #FEDC85;
$black : #595153;
$white : #FCFAFA;
$grey : #EDE9EA;
$btn : #06C3B8;
$red : red; */